<br>
<div class=login_form><br>

<div align=center><img src="<%= url_for(:controller => :bills) %>/../Login.png" title="bills" border="0" width="48" height="48" alt="image"><br><br><font color=#0033FF>My account and Library management system</div><br>

<form style=margin-left:25%; method="post">

  <p>
    <label for="login"><b>login </b></label><br />
    <input type="text" name="login" />
  </p>
  <p>
    <label for="password"><b>password </b></label><br />
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" class="button" value="login" />
</p>
</font>
</div><br><br><br>
<div class="content_resize">

<p class="infopost_new">This is a restricted network. Use of this network, its equipment, and resources is monitored at all times and requires explicit permission from the network administrator. <br><br>

<a href="mailto:sahyadri@mail"><font color=darkblue> Contact &nbsp;</font></a>administrator  to report a problem or if you have forgotten your password. This facility is available only for teachers and staff.<br></p>



</div></form>



</div></div>
