
@charset "utf-8";
/*
Design by Bhau Ghadge (sahyadri School)
*/
body { margin:0; padding:0; width:100%; color:#6d6d6d; font:bold 13px/1.8em "Liberation sans", Arial, Verdana, Helvetica, sans-serif; background:#ececec;}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:0; width:auto;}
h1 { margin:0; padding:35px 0 8px; color:#959595; font:bold 20px/1.2em "Liberation", Arial, Helvetica, sans-serif; letter-spacing:-2px; text-transform:uppercase; text-align:center;}
h1 a, h1 a:hover { color:#959595; text-decoration:none;}
h1 span { text-transform:none; font-weight:normal;}
h1 small { display:block; font:normal 12px/1.2em "Liberation sans", Arial, Helvetica, sans-serif; letter-spacing:normal; color:#959595; text-transform:none;}
h2 { font:normal 15px/1.5em "Liberation sans", Arial, Helvetica, sans-serif; padding:0px 0; margin:0px 0; color:black;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif;}
a { color:#495957; text-decoration:underline;}
p.spec { padding:0 0 16px;}
p.infopost { margin-bottom:12px; padding:6px 12px; background-color:#fff; color:#6d6d6d; border:1px solid #c9c9c9;}
p.infopost a { color:#6d6d6d;}
a.rm { color:#fff; padding:6px 16px; text-decoration:none; font-weight:bold; background-color:#495957;}
a.com { float:right; margin:0; text-decoration:none; color:#fff;}
a.com span { }

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { }
.header_resize { margin:0 auto; padding:0; width:960px;}
img.hbg_img { padding:6px; border:2px solid #d7d7d7; background-color:#fff;}

/* menu */
.menu_nav { margin:0 auto 16px; padding:0 0 0 180px; height:39px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9;}
.menu_nav ul { list-style:none; padding:0; height:39px; float:left;}
.menu_nav ul li { margin:0; padding:0 0 0 8px; float:left;}
.menu_nav ul li a { display:block; margin:0; padding:9px 24px; color:#4f4f4f; text-decoration:none; font-weight:bold; font-size:13px; text-transform:uppercase; border-left:1px solid transparent; border-right:1px solid transparent;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#4f4f4f; background-color:#fff; border-left:1px solid #c9c9c9; border-right:1px solid #c9c9c9;}

/* content */
.content { }
.content_resize { margin:0 auto; padding:15px 0; width:960px;}
.content .mainbar { margin:0; padding:0; float:right; width:670px;}
.content .mainbar img { border:1px solid #d4d4d4; background-color:#fff;}
.content .mainbar img.fl { margin:4px 16px 4px 0; float:left;}
.content .mainbar .article { margin:0 0 24px; padding:0 24px;}
.content .sidebar { padding:0; float:left; width:280px;}
.content .sidebar .gadget { margin:0 0 12px; padding:8px 16px 8px 24px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:4px 0; width:220px;}
ul.ex_menu li { padding:4px 0;}
ul.sb_menu li a, ul.ex_menu li a { color:#555; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#495957; font-weight:bold; text-decoration:none;}
.content p.pages { margin:0 24px; padding:0 0 24px; font-size:11px;}
.content p.pages span, .content p.pages a:hover { padding:8px 12px; color:#fff; background-color:#495957; border:1px solid #495957;}
.content p.pages a { padding:8px 12px; color:#6e6e6e; background-color:#fff; border:1px solid #c9c9c9; text-decoration:none;}
.content p.pages small { font-size:12px; float:right;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { border-top:1px solid #d4d4d4; background-color:#fff;}
.fbg_resize { margin:0 auto; width:912px; padding:24px;}
.fbg .c2 a, .fbg .c3 a { margin:0; padding:2px 4px; text-decoration:underline; color:#6d6d6d;}
.fbg  h2 { padding-bottom:12px;}
.fbg img { margin:0 16px 16px 0; padding:3px; background-color:#fff; border:1px solid #99bece;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:290px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}

/* footer */
.footer { border-top:1px solid #d4d4d4;}
.footer_resize { margin:0 auto; padding:12px 24px; width:912px;}
.footer p.lf { margin:0; padding:24px 0; text-align:left; width:auto; line-height:1.5em;}
.footer p.lf a { color:#6d6d6d;}
.footer p.lf span { float:right;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:0; padding:3px 2px; height:24px; background-color:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:0; padding:2px; background-color:#fff;}
ol li .send { margin:16px 0 0 0;}

/* search */
.searchform { float:left; padding:0;}
#formsearch { margin:0; height:36px; padding:16px 0 24px 24px; width:232px;}
#formsearch span { display:block; margin:0; padding:0; float:left; background:url(images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:10px 6px 9px; float:left; width:181px; border:none; background:none; font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:0; padding:0; border:none; float:left;}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


