<%= render :partial => "common/head", :locals => { :prefix => "user", :fuzzy => false, :path => users_path, :new_path => new_user_path, :delete_path => user_path(@user.id) }  %>

<div id="body" style="clear: both;">

<%= render :partial => "form", :locals => { :disabled => false } %>

</div>
