
<div style="color:#0B3B0B; font-size:14px; font-weight:bold"> 
<%=  @dir %>
</div>


<% @files.each do |file| %>  
<p><img src="<%= url_for(:controller => :bills) %>/../dot.png" width="17" height="17" alt="image">
<a style="text-decoration:none; font-size:13px; font-weight:bold" href="<%= file %>"><%= file.to_display %></a>
</p>
<% end %>


<br><br>
<% if @dir %>
<a style="color:darkblue; text-decoration:none; font-size:13px; font-weight:bold" href="..">[ Main Page ]</a></div>
<% end %>

